<%- include("header") -%> 
    <div class="container home">
            <h1>City name</h1>
            <form method="POST" action="/">
                <input class="form-control" id="cityInput" type="text" name="cityName" autocomplete="off">
                <button type="submit" class="link btn btn-outline-primary">GO!</button>
            </form>

            <a class="btn btn-outline-danger" href="/location">My location</a>
    </div>
<%- include("footer") -%> 