body{
    background-color: cadetblue;
    text-align: center;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  }

  .container{
      width: auto;
  }

  .container.weather{
      
  }

  .home{
      color: blanchedalmond;
      font-family: monospace;
      background-color: rgb(9, 31, 51);
      padding: 50px 20px 50px 20px;
      border-radius: 5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .link{
      margin: 5px 0px 20px 0px;
      padding: 5px 10px 5px 10px;
      font-size: 20px;
  }

  .date{
      background-color: rgb(97, 5, 97);
      font-size: 20px;
      margin: 0 30% 30px 30%;
      padding: 10px;
      border-radius: 2%;
      box-shadow: 0 4px 8px 0 rgba(235, 4, 185, 0.2), 0 6px 20px 0 rgba(185, 12, 190, 0.19);
  }